<div class="employee-list">
    <h2>Employee List</h2>
    <div *ngIf="employees.length; else noEmployees">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees">
                    <td>{{ employee.firstName }} {{ employee.lastName }}</td>
                    <td>{{ employee.position }}</td>
                    <td>
                        <a [routerLink]="['/employees', employee._id]">Details</a> |
                        <a [routerLink]="['/employees/edit', employee._id]">Edit</a> |
                        <button (click)="deleteEmployee(employee._id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template #noEmployees>
        <p>No employees found.</p>
    </ng-template>
    <button [routerLink]="['/employees/create']">Add New Employee</button>
</div>
