package-lock.json
logs/*.*
/*.yml
api/uploads/services/*
api/uploads/employees/*

# compiled output
/dist
/tmp
/out-tsc
/front/dist
/front/tmp
/front/out-tsc
# Only exists if Bazel was run
/front/bazel-out

# dependencies
/node_modules
/api/node_modules
/front/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/front/.idea
/front/.project
/front/.classpath
/front/.c9/
/front/*.launch
/front/.settings/
/front/*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
.env
/front/.angular/cache
/front/.sass-cache
/front/connect.lock
/front/coverage
/front/libpeerconnection.log
/front/npm-debug.log
/front:yarn-error.log
/front/testem.log
/front/typings

# System Files
.DS_Store
Thumbs.db
/front/.DS_Store
/front/Thumbs.db
