.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.nav-links {
  display: flex;
  align-items: center;
}

.navbar a {
  color: var(--secondary-color);
  text-transform: uppercase;
  margin-left: 20px; 
  text-decoration: none;
  font-weight: 600;
}

.navbar a:hover {
  color: var(--accent-color);
}

.logo {
  height: 40px; 
  margin-right: auto; 
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
  .nav-links {
    margin-top: 10px;
  }
}

.navbar-brand img {
  height: 60px; 
  width: auto; 
  margin-right: 15px; 
}
