<div class="employee-tasks">
    <h2>Employee Daily Tasks</h2>
    <input type="date" [(ngModel)]="date" (change)="fetchTasks()">
    <div *ngIf="tasks.length; else noTasks">
        <ul>
            <li *ngFor="let task of tasks">
                {{ task.service.name }}: {{ task.startDateTime | date:'shortTime' }} - {{ task.endDateTime | date:'shortTime' }}
                - Commission: {{ task.commissionAmount | currency }}
            </li>
        </ul>
        <p>Total Commission: {{ totalCommission | currency }}</p>
    </div>
    <ng-template #noTasks>
        <p>No tasks for this day.</p>
    </ng-template>
</div>
